// About section

@media screen and (max-width: 1024px) {
  .main-img-wrapper {
    width: 50%;
    span {
      height: 90%;
      width: 52%;
    }
  }
}

// 768###############################################################################################
// Contact

@media screen and (max-width: 768px) {
  .nav-wrapper {
    #hamburger-btn {
      display: block;
      &::before {
        content: "\2630";
        color: $main-underline-color;
        font-size: 1.5rem;
      }
      &.active::before {
        content: "\292C";
        color: $main-underline-color;
        font-size: 1.5rem;
      }
    }

    ul {
      position: fixed;
      left: -100%;
      top: 8%;
      flex-direction: column;
      background: $second-background-color;
      width: 100%;
      text-align: center;
      transition: 0.25s;
      gap: 1em;
      &.active {
        left: 0;
      }
      li {
        &:hover {
          background: $main-background-color;
        }
      }
    }
  }

  // Hamburger

  .education-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .skills-section {
    .skills-wrapper {
      flex-direction: column;
      gap: 5vh;
      align-items: center;
      .coding-skills,
      .professional-skills {
        width: 80%;
      }
    }
  }

  // Circling animation
  .main-img-wrapper {
    width: 50%;
    span {
      height: 70%;
    }
  }
  // Eduaction section
  .main-education-and-pro-skills-wrapper {
    display: flex !important;
    flex-direction: column;
    grid-template-rows: 0;
  }

  // Contact setion
  .resume-and-video-cv-button {
    align-self: center;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;

    .resume-and-video-cv-button {
      gap: 3rem;
      .contact-video-cv-button,
      .contact-resume-button {
        display: block;
        width: 10rem;
        text-align: center;
        a {
          width: 100%;
        }
      }
    }

    .contact-info {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      justify-content: space-between;
      margin-top: 1rem;
      .contact-specific-info {
        margin-left: 0%;
        padding: 0;
        border: none;
        display: flex;
        align-items: end;

        img {
          width: 2rem;
          height: auto;
        }
        p {
          margin: 1rem 0 0 0;
        }
      }
    }
  }
  // Form section
  .form-section {
    .form-wrapper {
      .form-contact-form {
        width: 70%;
        button {
          width: 100%;
        }
      }
    }
  }
}

// 425########################################################################

@media screen and (max-width: 425px) {
  // Main section
  .main-wrapper {
    p {
      min-width: 100%;
    }
  }
  // Circling animation
  .main-img-wrapper {
    img {
      width: 90%;
    }

    span {
      height: 70%;
      width: 95%;
    }
  }
  // Education section

  // Skills section
  .skills-wrapper {
    width: 100%;
    .coding-skills {
      max-width: 89%;
    }
    .professional-skills {
      max-width: 89%;
    }
  }
  // Contact section

  .contact-wrapper {
    margin-top: 3rem;
    .contact-resume {
      min-width: 100%;
      display: none;
    }
  }

  // Form section
  .form-wrapper {
    h1 {
      font-size: 3rem;
    }
  }
}
// 375 media query########################################################

@media screen and (max-width: 375px) {
  .main-img-wrapper {
    width: 75%;
    span {
      height: 90%;
      width: 95%;
    }
  }
}

// 320 media query########################################################
@media screen and (max-width: 320px) {
  // about section
  .main-img-wrapper {
    width: 70%;
    span {
      height: 72%;
      width: 95%;
    }
  }

  // Skills section
  .skills-section {
    h2 {
      font-size: 2.3rem;
    }
    .skills-wrapper {
      .coding-skills,
      .professional-skills {
        max-width: 85%;
      }
    }
  }

  // Contact section

  .contact-section {
    h2 {
      font-size: 2.5rem;
    }
  }
}
